.basic-layout {
  min-height: 100vh;
  background-image: url("/kit.jpg");
  background-size: contain;
  background-position: center;

  .content {
    background-color: $background-f2;
    background-image: linear-gradient(#444444, white);
    height: calc(100vh - 130px);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
